@model ProductDto
@{

}
<div class="row">
    <div class="col-md-8 mx-auto rounded border p-3">
        <h2 class="text-center mb-5">Create Product</h2>
        <form method="post" enctype="multipart/form-data">
            <div class="mb-3">
                <label asp-for="Name" class="form-label">tên</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Brand" class="form-label">nhãn hàng</label>
                <input asp-for="Brand" class="form-control" />
                <span asp-validation-for="Brand" class="text-danger"></span>
            </div>


            <div class="mb-3">
                <label asp-for="Category" class="form-label">loại</label>
                <select class="form-select" asp-for="Category">
                    <option value="Khac">Khác</option>
                    <option value="dienthoai">điện thoại</option>
                    <option value="maytinh">máy tính</option>
                    <option value="mayin">Máy in</option>
                    <option value="giadung">đồ gia dụng</option>
                    <option value="mayanh">Máy ảnh</option>
                </select>
            </div>

            <div class="mb-3">
                <label asp-for="Price" class="form-label">giá</label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Description" class="form-label">mô tả</label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="ImageUrl" class="form-label">ảnh</label>
                <input asp-for="ImageUrl" class="form-control" />
                <span asp-validation-for="ImageUrl" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="offset-sm-4 col-sm-4 d-grid">
                    <button type="submit" class="btn btn-primary">Tạo mới</button>
                </div>
                <div class="col-sm-4 d-grid">
                    <a class="btn btn-secondary" asp-controller="Product" asp-action="Index">Trở lại</a>
                </div>
            </div>
            
        </form>
    </div>
</div>
